/* --------------- CUSTOM SCROLLBAR ----------------- */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #2b2b2b;
    border-radius: 45px;
}

::-webkit-scrollbar-track {
    background-color: #121418;
}

.code-container::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    zoom: 75%;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'inter';
}

/* --------------------- UTLITY CLASSES -------------------- */
.primary-heading {
    font-size: 30px;
}


.webpage {
    display: flex;
}

.html-color{
    background-color: #ff4c00;
}

.css-color{
    background-color: #00aaff;
}

.js-color{
    background-color: #ffc800;
}

/* ------------------------- SIDEBAR --------------------------------- */
.sidebar {
    background-color: #121418;
    color: white;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
}

/* ------------------- LOGO AND NAVBAR ---------------------- */
.navigation-bar {
    margin: 50px 0px;
}

#logo {
    width: 93px;
}

.navigation {
    list-style-type: none;
}

.nav-item {
    margin: 31px 0px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 19px;
}

.nav-item i {
    color: #00ffd0;
    font-size: 20px;
    margin-right: 6px;
    width: 30px;
}

/* ----------------- AD SECTION ------------------------- */
.sm-ad {
    height: 150px;
}

.sm-ad img {
    height: 100%;
    border-radius: 23px;
    cursor: pointer;
    box-shadow: 2px 2px 35px 4px #49768b6e;
}

.lg-ad {
    width: 100%;
    height: 200px;
    background-image: url(instagram-ad.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 30px auto;
    border-radius: 21px;
    box-shadow: 2px 2px 67px -1px #ff009566;
    cursor: pointer;
}


/* ---------------------------- CONTENT AREA ---------------------------- */
.content-area {
    background-color: #1b1f24;
    width: 80%;
    color: white;
    padding: 5px 50px;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#search-query {
    background-color: #121418;
    border: none;
    padding: 13px 70px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

#search-query[placeholder] {
    color: white;
}

.search-area i {
    font-size: 20px;
    margin: 0px 0px;
    cursor: pointer;
}

/* ------------------------- SOURCE CODE AREA ----------------- */
.source-code {
    margin: 30px 0px;
}

.code-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.code-icons a{
    text-decoration: none;
}

.code-icon {
    margin: 0px 5px;
    cursor: pointer;
    --fa-animation-delay: 1s;
    --fa-animation-duration: 2s;
    --fa-animation-iteration-count: 2;
    --fa-animation-timing: ease-in-out;
}

.code-area {
    width: 100%;
    margin: 30px 0px;
    position: relative;
}

.code-container {
    background-color: #121418;
    border-radius: 27px;
    margin-top: 10px;
    width: 100%;
    height: 400px;
    overflow: scroll;
    position: relative;
}

/* ------ copy text related properties ------ */
.text-indicators {
    position: sticky;
    left: 100%;
    top: 19px;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 49px;
}

.copy-code {
    font-size: 1.7rem;
    color: #00ffd0;
    cursor: pointer;
    margin: 0px 12px;
}

.copy-code:hover {
    color: #292e3d;
}

.text-copied {
    color: #00ffd0;
    background-color: #1c1f25;
    padding: 10px 14px;
    border-radius: 13px;
    display: none;
}

/* language tags */
.language-tag{
    color: #1b1f24;
    padding: 6px 15px;
    border-radius: 6px;
    margin-right: 21px;
    font-weight: 800;
}